
@mixin body ($margin-sides) {
  body {
    margin: 2vh $margin-sides 0 $margin-sides;
  }
}

@media screen and (min-width: 768px) {
  @include body(15vw);
}
@media screen and (max-width: 768px){
  @include body(5vw);
}

.img-event img, .img-event p {
  margin: 15px 15px;
}

.img-event , .iframe-event{
  display: flex;
  flex-direction: row;
  text-align: center;
}

