/* Footer */
footer {
  background-color: pink;
  padding: 10px 3vw 10px 3vw;
  text-align: center;
}

.social a {
  margin: 5% 5%;
  font-size: 1.5rem;
  color: white;
}

.reference-list li {
  margin: 5% 5%;
  display: inline-block;
  font-size: 1rem;
}