@mixin body ($padding-sides) {
  main {
    padding: 100px $padding-sides 0 $padding-sides;
  }
}

@mixin section($padding-sides) {
  section {
    margin: 50px $padding-sides 50px $padding-sides;
  }
}

@media screen and (min-width: 768px) {
  @include body(15vw);
  @include section(5vw);
}
@media screen and (max-width: 768px){
  @include body(5vw);
  @include section(0);
}

.section_button {
  background-color: pink;
}

.event {
  padding: 0 0;
  overflow: hidden;
}

.img-event {
  width: 100%;
  height: 100%;
  transition: 800ms ease;
  opacity: 1;
}

.fadedbox {
  transform: translateY(-100%);
  transition: 800ms ease;
  background-color: grey;
  align-self: center;
  opacity: 0;
}

.text {
  color: white;
  opacity: 1;
}

.event:hover .fadedbox,
.event:focus .fadedbox, {
  opacity: 0.9
}





