@mixin main ($margin-sides) {
  main.row {
    margin: 0 $margin-sides 0 $margin-sides;
  }
}

@media screen and (min-width: 1400px) {
  @include main(15vw);
}
@media screen and (min-width: 1200px) {
  @include main(12vw);
}
@media screen and (min-width: 992px) {
  @include main(10vw);
}
@media screen and (min-width: 768px) {
  @include main(7vw);
}
@media screen and (max-width: 768px){
  @include main(5vw);
}

main {
  padding: 100px 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 30px black;

  article, aside {
    margin: 0 20px;
  }

  article {
    section {
      margin: 5vh;
      box-shadow: 0 0 3px black;
      padding: 5% 5% 5% 5%;
      transition: 400ms ease;
    }
    section:hover {
      box-shadow: 0 0 10px black;
    }

    .section_button {
      background-color: pink;
    }
    .section_button:hover {
      filter: brightness(85%);
      background-color: pink;
    }
  }

  aside {
    box-shadow: 0 0 3px black;
    text-align: center;;

    h2 {
      font-family: bootstrap-icons;
      font-style: italic;
      font-weight: bold;
    }

    .event {
      overflow: hidden;
      position: relative;
      padding: 0 0;
      margin-top: 5%;


      .img-event {
        transition: 800ms ease;
        width: 100%;
      }

      .fadedbox {
        transform: translateY(-100%);
        position: absolute;
        transition: 800ms ease;
        background-color: grey;
        opacity: 0;
        width: 100%;
      }

      .text {
        text-align: center;
        color: white;
        opacity: 1;
      }
    }

    .event:hover, .event:focus {
      .fadedbox {
        opacity: 0.9;
      }
      .img-event {
        filter: brightness(60%);
      }
    }
  }

}





